header{
    border-bottom: double 4px rgb(83, 2, 83)
    paddind: 20px;
}
body{
    background-color: rgb(185, 197, 195);
    color: rgb(181, 54, 255);
    font-family: "EB Garamond", serif;
    font-size: 50px;
}
h1{
    font-size: 30px;
    justify-content: center;
}
p{
    font-size: 8px;
 }
 .video{
    justify-content: center;
}